In [2]:
import pandas as pd

# Cargando el dataset
df_airbnb = pd.read_csv("airbnb.csv")

# CASO 1: Alicia busca alojamiento para su familia

# Filtrando las habitaciones para Alicia
alicia_criteria = (df_airbnb['accommodates'] >= 4) & (df_airbnb['bedrooms'] >= 2) & (df_airbnb['reviews'] > 10) & (df_airbnb['overall_satisfaction'] > 4)

# Ordenando por puntuación y número de críticas
alicia_rooms = df_airbnb[alicia_criteria].sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])

# Tomando las 3 mejores alternativas
top_3_alternatives = alicia_rooms.head(3)

top_3_alternatives

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0

In [4]:
# Buscando por id
df_r = df_airbnb.query("room_id == 97503")
df_c = df_airbnb.query("room_id == 90387")

# Uniendo dataframes
df_union = pd.concat([df_r, df_c])
print(df_union)

# Guardando como excel
df_union.to_excel("roberto.xlsx")

print("El archivo Excel roberto.xlsx se creó correctamente")

    room_id  host_id     room_type   neighborhood  reviews  \
48    97503   515924  Private room  Santo António       39
41    90387   490050  Private room  Santo António      204

    overall_satisfaction  accommodates  bedrooms  price
48                   4.0             2       1.0   26.0
41                   5.0             2       1.0   46.0
El archivo Excel roberto.xlsx se creó correctamente

In [9]:
# CASO 3: Diana busca propiedades económicas en Lisboa

# Filtrando las propiedades para Diana
diana_criteria = (df_airbnb['price'] <= 50) & (df_airbnb['room_type'] == 'Shared room')

# Ordenando por precio y puntuación
diana_rooms = df_airbnb[diana_criteria].sort_values(by=['price', 'overall_satisfaction'], ascending=[True, False])

# Tomando las 10 propiedades más baratas
top_10_cheap_properties = diana_rooms.head(10)

top_10_cheap_properties

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
1010,1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
3562,5557699,28812904,Shared room,Santa Maria Maior,22,4.0,1,1.0,10.0
7584,13116032,72951043,Shared room,Arroios,1,0.0,8,1.0,10.0
13148,19314160,135270245,Shared room,Santa Clara,0,0.0,1,1.0,10.0
9065,14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
4353,6728244,28812904,Shared room,Santa Maria Maior,8,4.5,1,1.0,11.0
5616,9317561,48360716,Shared room,Arroios,13,4.5,4,1.0,11.0
6640,11693356,28812904,Shared room,Santa Maria Maior,3,4.5,1,1.0,11.0
6641,11693442,28812904,Shared room,Santa Maria Maior,16,4.5,1,1.0,11.0
8908,14708916,91501272,Shared room,Santo António,18,4.5,4,1.0,11.0